body {
  /* Define a fonte para o body; os títulos herdam */
  font-family: "Montserrat", sans-serif; /* Adicione uma fonte de fallback genérica */
}

.w3-sidebar {
  width: 120px;
  background-color: #222;
}

#main {
  /* Usando #main como no seu HTML anterior. Mude para .main se for uma classe */
  margin-left: 120px;
}

@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

.transition:hover {
  transform: scale(1.1); /* Adicionando um efeito de escala para o hover */
  transition: transform 0.5s ease; /* Movida a transição para cá para melhor performance */
}

.icon {
  width: 5%;
  height: 5%;
  object-fit: cover; /* Ajusta o conteúdo da imagem para ocupar todo o espaço disponível */
}

.text-underline {
  text-decoration: underline;
}

.display-right {
  position: absolute;
  top: 50%;
  right: -4%;
}

/* Adicionando animações de fade-in e fade-out para elementos com as classes .fade-in e .fade-out */

.fade-in {
  animation: fade-in 1s ease-in-out;
}

.fade-out {
  animation: fade-out 1s ease-in-out;
}

/* Definindo a animação de fade-in */
@keyframes fade-in {
  from {
    opacity: 0; /* O elemento começa transparente */
  }
  to {
    opacity: 1; /* O elemento fica opaco */
  }
}

/* Definindo a animação de fade-out */
@keyframes fade-out {
  from {
    opacity: 1; /* O elemento começa opaco */
  }
  to {
    opacity: 0; /* O elemento fica transparente */
  }
}
